/*body {
  font-family: sans-serif;
}*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

.m1 {
  margin: 1rem;
  width: auto;
}

.w100p {
  width: 100%;
}

.tag {
  border-bottom: 4px solid;
}

.loading-overlay {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9998;
}

.spinner-top {
  height: 100vh;
}

.spinner {
  display: flex;
  width: 75px;
  height: 75px;
  border-width: 2px;
  border-color: darkslategray;
  border-top-color: transparent;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.debug_log {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
}
